<ion-header>

    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">Close</button>
        </ion-buttons>
        <ion-title>Create Multi-Switch pin</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-item>
        <ion-label color="primary" floating>Enter pin's title</ion-label>
        <ion-input [(ngModel)]="title" clearInput></ion-input>
    </ion-item>

    <ion-item-divider>
        Switch options
    </ion-item-divider>

    <ion-item *ngFor="let option of options; let i = index; trackBy:trackByIndex">
        <ion-label color="primary" fixed>Pin #{{ i + 1 }}:</ion-label>
        <ion-input [(ngModel)]="options[i]"
                   clearInput
                   placeholder="Enter value here"></ion-input>
    </ion-item>

    <button ion-button
            outline
            full
            color="secondary"
            (click)="addOption()">Add option
    </button>

    <button ion-button
            full
            (click)="savePin()">Save Pin
    </button>
</ion-content>