<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ eventName }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <agm-map [latitude]="centralEventLocation.lat"
             [longitude]="centralEventLocation.lng"
             [zoom]="17">
        <agm-marker *ngFor="let marker of mapPins; let i = index"
                    [latitude]="marker.location.lat"
                    [longitude]="marker.location.lng"
                    [label]="getFormatedPinState(marker.state, marker.type, i)"
                    (markerClick)="onPinClick(i)"
        ></agm-marker>
    </agm-map>


    <!--&lt;!&ndash;Right bottom menu&ndash;&gt;-->
    <!--<ion-fab bottom right #fab>-->
        <!--<button color="danger" ion-fab>-->
            <!--<ion-icon name="add"></ion-icon>-->
        <!--</button>-->
        <!--<ion-fab-list side="top">-->
            <!--<button *ngFor="let pinType of pinTypesArray"-->
                    <!--ion-fab-->
                    <!--(click)="selectPinType(pinType)">{{ pinType }}-->
            <!--</button>-->
        <!--</ion-fab-list>-->
    <!--</ion-fab>-->

    <!--&lt;!&ndash;Left bottom save button&ndash;&gt;-->
    <!--<ion-fab top right #fab>-->
        <!--<button color="secondary"-->
                <!--ion-fab-->
                <!--mini-->
                <!--(click)="saveEvent()">-->
            <!--<ion-icon name="checkmark"></ion-icon>-->
        <!--</button>-->
    <!--</ion-fab>-->


    <ion-footer>

    </ion-footer>
</ion-content>
