<ion-content padding>

    <br><br><br><br><br><br>
    <h1 text-center>Event coordination</h1>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <button ion-button
            block
            color="secondary"
            [navPush]="createEventPage"
    >Create event
    </button>

    <br>
    <br>
    <h3 text-center>OR</h3>
    <br>
    <br>

    <ion-item>
        <ion-label color="danger" floating>Enter invitation code here</ion-label>
        <ion-input [(ngModel)]="invitationCode"></ion-input>
        <button ion-button
                color="danger"
                clear
                item-right
                (click)="joinEvent()">
            Join
        </button>
    </ion-item>

</ion-content>
