<ion-header>

    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">Close</button>
        </ion-buttons>
        <ion-title>Create Switch pin</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label color="primary" floating>Enter pin's title</ion-label>
        <ion-input [(ngModel)]="title"></ion-input>
    </ion-item>

    <button ion-button color="danger" full (click)="dismiss()">Save Pin</button>
</ion-content>