<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Event</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <agm-map [latitude]="centralEventLocation.lat"
             [longitude]="centralEventLocation.lng"
             [zoom]="17"
             (mapClick)="addMarker($event)">
        <agm-marker *ngFor="let marker of mapPins; let i = index"
                    [latitude]="marker.location.lat"
                    [longitude]="marker.location.lng"
                    [label]="i.toString()"
        ></agm-marker>
    </agm-map>


    <!--Right bottom menu-->
    <ion-fab bottom right #fab>
        <button color="danger" ion-fab>
            <ion-icon name="add"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button *ngFor="let pinType of pinTypesArray"
                    ion-fab
                    (click)="selectPinType(pinType)"><ion-icon name="{{ pinType.icon }}"></ion-icon>
            </button>
            <!--<button ion-fab>-->
                <!--<ion-icon name="speedometer"></ion-icon>-->
            <!--</button>-->
            <!--<button ion-fab>-->
                <!--<ion-icon name="power"></ion-icon>-->
            <!--</button>-->
            <!--<button ion-fab>-->
                <!--<ion-icon name="switch"></ion-icon>-->
            <!--</button>-->
        </ion-fab-list>
    </ion-fab>

    <!--Left bottom save button-->
    <ion-fab top right #fab>
        <button color="secondary"
                ion-fab
                mini
                (click)="saveEvent()">
            <ion-icon name="checkmark"></ion-icon>
        </button>
    </ion-fab>


    <ion-footer>

    </ion-footer>
</ion-content>
